/classification-service/classification-service/classification-service-tests/obj/
/classification-service/classification-service/classification-service-tests/bin/
/classification-service/classification-service/classification-service/bin/
/classification-service/classification-service/classification-service/obj/
.idea/
.DS_Store
classification-service/.DS_Store